@import url("https://fonts.googleapis.com/css?family=MedievalSharp");
html {
  width: 100%;
  height: 100%;
  display: grid;
}
body {
  overflow-y: scroll;
  width: inherit;
  display: grid;
  background-color: darkred;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  grid-template-rows: 20% 20% 45% 15%;
  grid-template-columns: 100%;
  
}

/*title section*/

#title {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: goldenrod;
  position: relative;
  grid-template-columns: 50% 50%;
  grid-row: 1;
  grid-row: 1;
  /*! grid-column: 1; */
}

.logo {
  order: 1;
  width: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: screen;
  opacity: 0.5;
  grid-column: 1;

  grid-column: 1;
  grid-row: 1;
}

.my-pic {
  width: 100%;
  height: 100%;
  background-blend-mode: screen;
  background-color: goldenrod;
  border-radius: 0px 0px 50% 50%;
}

.my-name {
  width: 100%;
  font-family: "MedievalSharp", cursive;
  text-align: center;
  grid-column: 2;
  height: 100%;
  font-size: small;
}

h1 {
  margin-bottom: 0px;
  margin-top: 10px;
}

h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

/*frame-section*/

.frame {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-row: 2;
}

.quote-frame {
  width: 100%;
  height: 100%;
  grid-row: 2;
}
.quote {
  text-align: center;
  color: #f5deb3;
  width: 100%;
}

/*project section*/

.projects {
  width: 100%;
  display: grid;
  background-color: #696969;
  grid-row: 3;
  grid-template-rows: 5% 95%;
  height: 100%;
  grid-row-gap: 10%;
}

.project-title {
  width: 100%;
  font-size: xx-large;
  font-family: berkshire;
  text-align: center;
  grid-row: 1;
}

.web-sites {
  width: 100%;
  grid-row: 2;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  height: 100%;
  /*! justify-content: center; */
  grid-row-gap: 100%;
  overflow-y: scroll;
}

.pixel-art {
  width: 100%;
  display: grid;

  grid-template-rows: auto auto;
  height: 100%;
  background-color: yellow;
}

.responsive-animal-art {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;

  grid-row: 2;
}

.weather-app {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-row: 3;
}

.pic {
  width: 100%;
  height: 100%;
  grid-row: 1;
}

.pic > img {
  width: 100%;
  /*! padding-left: 30px; */
}

.name {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  grid-row: 2;
  /*! background-color: aqua; */
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.project-one-p {
  border-left: 50px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 100px solid yellow;
  background-color: gold;
}

.project-two-p {
  border-left: 50px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 100px solid yellowgreen;
  background-color: yellowgreen;
}

.project-three-p {
  border-left: 50px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 100px solid aliceblue;
  background-color: lightblue;
}

/*this is footer where social icon goes*/
.footer {
  width: 100%;
  grid-row: 4;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: brown;
  grid-template-rows: 50% 50%;
  
}

.google-link{
  grid-row: 2;
  grid-column: 1;
}

@media screen and (min-width: 750px) {
  html {
    grid-template-columns: 25% 25% 25% 25%;

    background: linear-gradient(to right, #6c4f3d 28%, #666633 92%);
  }
  body {
    grid-column: 2 / 4;
    border: solid 2px brown;
    grid-row-gap: 2em;
    grid-template-rows: auto auto auto auto;
  }

  

  .web-sites {
    grid-template-rows: 0;
    grid-template-columns: 100% 100% 100%;
    grid-row-gap: 0;
    grid-column-gap: 3%;
    overflow-x: scroll;
    overflow-y: auto;
  }
  .web-sites::-webkit-scrollbar {
    width: 10px;
    background-color: brown;
  }
  .web-sites::-webkit-scrollbar-thumb {
    width: 8px;
    background-image: -webkit-linear-gradient(#f5f5f5, #8a8a8a);
  }

  .pixel-art {
    grid-column: 1;
    grid-row-gap: 10%;
  }

  .responsive-animal-art {
    grid-row: 1;
    grid-column: 2;
  }

  .weather-app {
    grid-row: 1;
    grid-column: 3;
  }
  .name {
    font-size: x-large;
  }
  .project-one-p {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #ff0;
    background-color: yellow;
  }

  .project-two-p {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    background-color: yellowgreen;
  }
  
   .google-link{
    width: 100%;
    grid-column: 2 ;
    grid-row: 1;
  }
}

@media screen and (min-width: 2500px) {
  html {
    width: 100%;
    grid-template-columns: 0px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .title {
    font-size: 4em;
  }

.my-pic{
  width: initial;
}
  .my-name {
    font-size: 1em;
  }
  .quote {
    font-size: 4em;
  }

  .project-title {
    font-size: 6em;
  }

  .name {
    font-size: 3em;
  }
  .web-sites::-webkit-scrollbar-thumb {
    width: 8px;
    background-image: -webkit-linear-gradient(#f5f5f5, #8a8a8a);
  }
  
 
}

