@import url(https://fonts.googleapis.com/css?family=MedievalSharp);
 html {
  width: 100%;
  height: 100%;
  display: grid;
  margin: 0;
}
 body {
  overflow-y: scroll;
  max-width: 100%;
  width: 100%;
  display: grid;
  background-color: darkred;
  margin: 0px;
  grid-template-rows: 20% 20% 45% 15%;
  grid-template-columns: 100%;
  height: 100vh;
  
}
 /** {
  border:  2px dashed red !important;
}
/*title section*/

 .title {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: goldenrod;
  position: relative;
  grid-template-columns: 50% 50%;
  grid-row: 1;
 grid-template-rows: 100%;
}

 .logo {
  order: 1;
  width: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: screen;
  opacity: 0.5;
  grid-column: 1;

  grid-column: 1;
  grid-row: 1;
}

 .my-pic {
  max-width: 100%;
  max-height: 100%;
  background-blend-mode: screen;
  background-color: goldenrod;
  border-radius: 0px 0px 50% 50%;
}

 .my-name {
  width: 100%;
  font-family: "MedievalSharp", cursive;
  text-align: center;
  grid-column: 2;
  height: 100%;
  font-size: small;
}

 h1 {
  margin:0;
}

 h2 {
  margin:0px;
}

/*frame-section*/

 .frame {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-row: 2;
  background-image: url(images/ruins.jpg);
  background-size: cover;
  opacity: 1.5;
  filter: grayscale(75.9%);
}

 .quote-frame {
  width: 100%;
  height: 100%;
  grid-row: 1;
 
}
 .quote {
  text-align: center;
  color: #f8f8f8b3;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;

}

/*project section*/

 .projects {
  width: 100%;
  display: grid;
  background-color: #696969;
  grid-row: 3;
  grid-template-rows: 5% 95%;
  grid-row-gap: 5%;

}

 .project-title {
  width: 100%;
  font-size: 1.5em;
  font-family: berkshire;
  text-align: center;
  grid-row: 1;
  margin: 0px;
}

 .web-sites {
  width: 100%;
  grid-row: 2;
  display: grid;
  grid-template-rows: 100% 100% 100%;
  height: 100%;
  overflow-y: scroll;
}

 .pixel-art {
  width: 100%;
  display: grid;
  
  grid-template-rows: 50% 50%;
  height: 100%;
  justify-content: center;
  
}

 .responsive-animal-art {
  width: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: center;
  grid-row: 2;
}

 .weather-app {
  width: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: center;
  grid-row: 3;
}

 .pic {
  width: 100%;
  height: 100%;
  grid-row: 1;
}

 .pic > img {
  width: 100%;
  /*! padding-left: 30px; */
}

 .name {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  grid-row: 2;
  
}

 .project-one-p {
   border-bottom: solid yellow;
}

 .project-two-p {
  border-bottom: solid yellowgreen;
}

 .project-three-p {
  border-bottom: solid aliceblue;
}

/*this is footer where social icon goes*/
 .footer {
  width: 100%;
  grid-row: 4;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: brown;
  grid-template-rows: 50% 50%;
  
}

 .google-link{
  grid-row: 2;
  grid-column: 1;

}

 .plusG{
   border:0;
   width:64px;
   height:64px;
 }

 .glink{
   text-decoration:none;
 }

 @media screen and (min-width: 750px) {
  html {
    grid-template-columns: 33% 33% 33%;

    background: linear-gradient(to right, #6c4f3d 28%, #666633 92%);
    overflow-y: scroll;
  }
  body {
    grid-column: 2;
    border: solid 2px brown;
   /*grid-row-gap: 2em;*/
    grid-template-rows: 20vh 20vh 40vh 20vh;
  }

  
  .projects{
    justify-content: center;
    overflow: hidden;
  }
  .web-sites {
    grid-template-rows: 0;
    grid-template-columns: 100% 100% 100%;
    grid-row-gap: 0;
    grid-column-gap: 3%;
    overflow-x: scroll;
    overflow-y: auto;
  }
  .web-sites::-webkit-scrollbar {
    width: 10px;
    height: 2em;
    background-color: #795548;
   
  }
  .websites::-webkit-scrollbar-track {
    background-color: peru;
  }
  .web-sites::-webkit-scrollbar-thumb {
    width: 8px;

    background-image: -webkit-linear-gradient(#f5f5f5, #8a8a8a);
  }

  .web-sites::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
    background-color: royalblue;
  }

  .pixel-art {
    grid-column: 1;
    grid-row-gap: 10%;

  }

  .responsive-animal-art {
    grid-row: 1;
    grid-column: 2;
  }

  .weather-app {
    grid-row: 1;
    grid-column: 3;
  }
  .name {
    font-size: x-large;
  }
  /*.project-one-p {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #ff0;
    
  }

  .project-two-p {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    
  }*/
  
   .google-link{
    width: 100%;
    grid-column: 2 ;
    grid-row: 1;
  }
}

@media screen and (min-width: 2500px) {
  html {
    width: 100%;
    grid-template-columns: 50% 50%;
    overflow-y: scroll;
  }

 body{   
    grid-template-rows: 32% 32% 32% 10%;
    grid-column: 1/ span 2;
 }


  .title {
    font-size: 4em;
  }

.my-pic{
  width: initial;
}
  .my-name {
    font-size: 1em;
  }
  .quote {
    font-size: 4em;
  }
  .projects{
        grid-template-columns: 33% 33% 33%;
            grid-row-gap: 0px;
    grid-template-rows: 25% 75%;

  }
  .project-title {
        grid-column: 2;
    font-size: 3em;
    font-weight: bold;
  }

  .web-sites{
    grid-column: 1/ span 3;
  }

  .name {
    font-size: 3em;
  }
  .web-sites::-webkit-scrollbar-thumb {
    width: 8px;
    background-image: -webkit-linear-gradient(#f5f5f5, #8a8a8a);
  }
  
 
}

